<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website"
    lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{- partial "head.html" . -}}
</head>

<body>

    {{- partial "nav.html" . -}}

    <div class="uk-position-relative">
        <div class="uk-position-absolute uk-width-*" uk-height-viewport id="particles-js"></div>
        <div class="uk-overflow-hidden uk-flex uk-flex-top" uk-height-viewport="offset-top: true">
            <div class="uk-width-1-2@xl uk-text-center uk-margin-auto uk-margin-auto-vertical">

                <div class="uk-card uk-card-default uk-card-body gol-card-shadow">
                    <h2 class="uk-card-title">Something BIG is Coming Soon</h2>
                    <h4>Stay connected!</h3>
                        <div>
                            <input class="uk-input uk-form-width-large" id="emaildId" type="text" for="email" placeholder="EMAIL ADDRESS">
                            <button class="uk-button uk-button-primary" id="emailIdButton">NOTIFY ME</button>
                        </div>
                </div>

                {{ with .Content }}
                <p class="uk-text-justify uk-margin-left uk-margin-right">
                    {{ . }}
                </p>
                {{end}}
            </div>
        </div>
    </div>

    <div class="uk-section uk-background-default">
        <div class="uk-container">
            <h2 class="uk-text-center">Products</h2>
            <div class="uk-grid-divider uk-child-width-1-2@m" uk-grid>
                <div>
                    <h3 class="uk-text-center">NeuCube for PC</h3>
                    <img class="uk-align-center gol-img-shadow" data-src="/img/home/neucube.jpg" width="500" alt="" uk-img>
                    <p class="uk-text-justify">NeuCube is  the world-first development environment and a  computational architecture for the creation of Brain-Like Artificial Intelligence (BLAI), that includes applications across domain areas. It is based on the latest neural network models, called spiking neural networks (SNN).</p>
                    <a class="uk-button uk-button-primary" href="https://kedri.aut.ac.nz/R-and-D-Systems/neucube">Read More</a>
                </div>
                <div>
                        <h3 class="uk-text-center">NeuCom for PC (Student Version)</h3>
                        <img class="uk-align-center gol-img-shadow" data-src="/img/home/neucom.png" width="500" alt="" uk-img>

                    <p class="uk-text-justify">It is self-programmable, learning and reasoning computer environment based on connectionist (Neurocomputing) modules.</p>
                        <a class="uk-button uk-button-primary" href="https://kedri.aut.ac.nz/areas-of-expertise/data-mining-and-decision-support/neucom">Read More</a>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>

</html>