<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website"
    lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{- partial "head.html" . -}}
</head>

<body>

    {{- partial "nav.html" . -}}

    <div class="uk-position-relative">
        <div class="uk-position-absolute uk-width-*" uk-height-viewport id="particles-js"></div>
        <div class="uk-overflow-hidden uk-flex uk-flex-top" uk-height-viewport="offset-top: true">
            <div class="uk-width-1-2@xl uk-text-center uk-margin-auto uk-margin-auto-vertical">

                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="uk-card-title">Something BIG is Coming Soon</h2>
                    <h4>Stay connected!</h3>
                        <div>
                            <input class="uk-input uk-form-width-large" type="text" placeholder="EMAIL ADDRESS">
                            <button class="uk-button uk-button-primary">NOTIFY ME</button>
                        </div>
                </div>

                {{ with .Content }}
                <p class="uk-text-justify uk-margin-left uk-margin-right">
                    {{ . }}
                </p>
                {{end}}
            </div>
        </div>
    </div>

    <div class="uk-section uk-background-default">
        <div class="uk-container">
            <h2 class="uk-text-center">Products</h2>
            <div class="uk-grid-divider uk-child-width-1-2@m" uk-grid>
                <div>
                    <h3 class="uk-text-center">NeuCube for PC</h3>
                    <img class="uk-align-center" data-src="/img/home/neucube-shadow.png" width="500" alt="" uk-img>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla a at, maxime ut eos cupiditate eveniet asperiores, tenetur saepe voluptatem odit tempora autem velit, expedita illo obcaecati! Explicabo, cupiditate sint.</p>
                </div>
                <div>
                        <h3 class="uk-text-center">NeuCom for PC (Student Version)</h3>
                        <img class="uk-align-center" data-src="/img/home/neucube-shadow.png" width="500" alt="" uk-img>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, nihil ullam, doloremque
                        delectus est earum exercitationem ex cupiditate deleniti nulla inventore eveniet repudiandae
                        neque placeat aut quisquam, temporibus aliquid quam.</p>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>

</html>