{{ define "main" }}

    <h1 hidden>{{.Title}}</h1>

        <div class="uk-section uk-section-default">
            <div class="uk-container uk-container-xsmall uk-text-justify" uk-height-viewport="offset-bottom: 32">

                <h2>{{ if ne "Categories" .Title }}{{.Title}} &mdash; {{ end }}{{"Categories"}}</h2>
                <dl class="uk-description-list gol-links">
                    {{ range .Pages }}
                        <dt>

                        </dt>
                        <dd>
                            <a href="{{.Permalink}}">{{.Title}}</a>
                        </dd>
                    {{end}}
                </dl>
            </div>
        </div>

{{ end }}