<div class="uk-padding-remove uk-box-shadow-small">
    <nav class="uk-navbar uk-light" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{.Site.BaseURL}}">
                    <img src="/img/logo.svg" width="200" height="50" uk-svg>
            </a>
        </div>
        <div class="uk-navbar-left uk-margin-large-left">
            <ul class="uk-navbar-nav">
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="uk-navbar-right uk-margin-large-right">
            <ul class="uk-navbar-nav">
                <li><a href="https://my.neucube.io" class="uk-button uk-button-secondary" style="background-color: #1e87f0 !important; color: #fff;">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">
            <li>
                <a href="{{ .Site.BaseURL }}" class="uk-link-text">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                    Home
                </a>
            </li>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" class="uk-link-text">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>