$primary: {{ .Site.Params.scss.primary }};
$secondary: {{ .Site.Params.scss.secondary }};
$background-color: {{ .Site.Params.scss.backgroundColor }};
$background-color-light: {{ .Site.Params.scss.backgroundColorLight }};
$background-color-dark: {{ .Site.Params.scss.backgroundColorDark }};
$text-color: {{ .Site.Params.scss.textColor }};
$text-color-light: {{ .Site.Params.scss.textColorLight }};
$sub-text-color: {{ .Site.Params.scss.subTextColor }};
$global-font-family: {{ .Site.Params.scss.globalFontFamily }} !important;
$label-background-color: {{ .Site.Params.scss.labelBackgroundColor }};
$label-text-color: {{ .Site.Params.scss.labelTextColor }};

// $primary: #A36441;
// $secondary: #997953;
// $background-color: #1d1f21;
// $background-color-light: #272a2c;
// $text-color: #c9cacc;
// $sub-text-color: gray;
// $global-font-family: 'Space Mono', monospace !important;


html {
    font-family: $global-font-family;
}

code {
    font-family: $global-font-family;
}

body {
    color: $text-color !important;
    // background-color: $background-color !important;
    font-size: 1em;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary !important;
    opacity: 1;
    /* Firefox */
    text-transform: uppercase;
    font-size: 0.875rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $primary !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $primary !important;
}

.gol-subnav a {
    color: $primary !important;
}

/* Hover + Focus */
.gol-subnav a:hover,
.gol-subnav a:focus {
    color: $secondary !important;
    text-decoration: underline;
    outline: none;
}

.gol-subnav> ::before {
    border-left: 2px solid $primary !important;
}

.gol-tr-bgcolor {
    background: $background-color-light
}

.uk-light {
    color: $text-color !important;
}

.uk-section-default {
    background-color: $background-color !important;
}

.uk-card-default {
    background-color: $background-color !important;
}

.uk-link-text {
    color: $primary !important;
}

.uk-link-text:hover,
.uk-link-text:focus {
    color: $secondary !important;
}

.uk-label {
    background-color: $label-background-color !important;
    font-size: x-small;
}

.uk-label a {
    color: $label-text-color !important;
    font-weight: 700;
}

.uk-label a:hover,
.uk-label a:focus {
    color: $label-text-color !important;
}

.gol-links a:not(.uk-icon) {
    color: $text-color !important;
    text-decoration: none;
    border-bottom: 2px solid $text-color !important;
}

.gol-links a:hover:not(.uk-icon),
.gol-links a:focus:not(.uk-icon) {
    text-decoration: none;
    border-bottom: 3px solid $primary !important;
}

a:not(.uk-button),
.uk-link {
    color: $primary !important;
    text-decoration: none;
    cursor: pointer;
}

a:hover:not(.uk-button),
.uk-link:hover {
    color: $secondary !important;
}

h2 {
    color: $text-color !important;
}

h3 {
    color: $text-color !important;
}

h4 {
    color: $text-color !important;
}

h1 {
    color: $text-color !important;
}

blockquote {
    color: $sub-text-color !important;
}

time {
    color: $sub-text-color;
}

.gol-background-dark {
    background-color: $background-color-dark !important;
    color: $text-color-light !important;
}

.gol-card-shadow {
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.08);
}

.gol-img-shadow {
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.08);
}

#particles-js {
    opacity: 1;
    z-index: -10;
}

.gol-footer-icons a {
    color: gray !important;
    text-decoration: none;
    cursor: pointer;
}

.gol-footer-icons a:hover:not(.uk-icon) {
    color: gray !important;
    text-decoration: none;
    border-bottom: 3px solid gray !important;
    cursor: pointer;
}

.gol-button-success {
    background-color: green;
    color: #fff;
    border: 1px solid transparent;
}

// Define vars we'll be using
// $brand-success: #fff;
// $loader-size: 2em;
// $check-height: $loader-size/2;
// $check-width: $check-height/2;
// $check-left: ($loader-size/6 + $loader-size/12);
// $check-thickness: 3px;
// $check-color: $brand-success;

// .circle-loader {
// //   margin-bottom: $loader-size/2;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-left-color: $check-color;
//   animation: loader-spin 1.4s infinite linear;
//   position: relative;
//   display: inline-block;
//   vertical-align: inherit;
//   border-radius: 50%;
//   width: $loader-size;
//   height: $loader-size;
// }

// .load-complete {
//   -webkit-animation: none;
//   animation: none;
//   border-color: $check-color;
//   transition: border 500ms ease-out;
// }

// .checkmark {
//   display: none;

//   &.draw:after {
//     animation-duration: 800ms;
//     animation-timing-function: ease;
//     animation-name: checkmark;
//     transform: scaleX(-1) rotate(135deg);
//   }

//   &:after {
//     opacity: 1;
//     height: $check-height;
//     width: $check-width;
//     transform-origin: left top;
//     border-right: $check-thickness solid $check-color;
//     border-top: $check-thickness solid $check-color;
//     content: '';
//     left: $check-left;
//     top: $check-height;
//     position: absolute;
//   }
// }

// @keyframes loader-spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes checkmark {
//   0% {
//     height: 0;
//     width: 0;
//     opacity: 1;
//   }
//   20% {
//     height: 0;
//     width: $check-width;
//     opacity: 1;
//   }
//   40% {
//     height: $check-height;
//     width: $check-width;
//     opacity: 1;
//   }
//   100% {
//     height: $check-height;
//     width: $check-width;
//     opacity: 1;
//   }
// }
