<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:article="http://ogp.me/ns/article" lang="en" itemscope itemtype="http://schema.org/Article"  >

<head>

    {{- partial "head.html" . -}}
    {{- partial "personSchemaSEO.html" . -}}

</head>

<body class="uk-background-default">
    {{- partial "nav.html" . -}}

    {{- block "main" . }}{{- end }}

    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
</body>

</html>