<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/profile" lang="en">

<head>

    {{- partial "head.html" . -}}
    {{ partial "personSchemaSEO.html" . }}
    {{ partial "profileOGPSEO.html" . }}

</head>

<body class="uk-background-default">
    {{- partial "nav.html" . -}}

    {{- block "main" . }}{{- end }}

    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
</body>

</html>