{{ define "main" }}

<h1 hidden>{{ .Title }}</h1>

<div class="uk-section uk-section-default gol-links">
    <div class="uk-container uk-container-xsmall uk-text-justify">

        {{.Content}}

        {{ range $k, $i := .Site.Data.Experience }}
            <h2>{{$k}}</h2>
            {{ partial "experience.html" . }}
        {{ end }}

        {{ range $k, $i := .Site.Data.Education }}
            <h2>{{$k}}</h2>
            {{ partial "education.html" . }}
        {{ end }}

    </div>
</div>

{{ end }}